@model Website.Models.Comment

@{
    ViewBag.Title = "CreateComment";
}

@using (Html.BeginForm("Create", "Comments", FormMethod.Post))
{
    <div class="container">
        <h2>@ViewBag.Title</h2>
    </div>

    <hr />

    @Html.AntiForgeryToken()
    @Html.HiddenFor(item => item.IdeaId)
    @Html.HiddenFor(item => item.submissionId)
    @Html.TextAreaFor(item => item.Content)

    <div class="form-group">
        @Html.LabelFor(model => model.Anonymous, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Anonymous)
                @Html.ValidationMessageFor(model => model.Anonymous, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <input type="submit", value="Create" />
}


