@model IEnumerable<Website.Models.Department>

@{
    ViewBag.Title = "Department";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-6">
        <h2>@ViewBag.Title</h2>
        <hr />

        @Html.ActionLink("Create Department", "Create", null, new { @class = "btn btn-primary" })

        <br /> <br />

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Department</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId }) |
                            @Html.ActionLink("Details", "Details", new { id = item.DepartmentId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>