@model Website.Models.Comment
@using (Html.BeginForm("Comment", "Posts", FormMethod.Post))
{
    <div class="container">
        <h2>Comment</h2>

        @Html.AntiForgeryToken()
        @Html.HiddenFor(item => item.IdeaId)
        @Html.HiddenFor(item => item.submissionid)
        @Html.TextAreaFor(item => item.Content)

        <div class="form-group">
            @Html.LabelFor(model => model.Anonymous, htmlAttributes: new { @class = "control-label col=md-2" })

            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Anonymous)
                    @Html.ValidationMessageFor(model => model.Anonymous, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>  
        <input type="submit" value="Comment" />

    </div>
}
