@model Website.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anonymous)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.submissionID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.submissionID)
        </dd>

        @if (Model.Comment.Any())
        {
            @:Comments:
            <ul>
                @foreach (var comment in Model.Comment)
                {
                    <li>
                        @comment.Content
                        @if (comment.Author != null && comment.Anonymous == false)
                        {
                            @: (by @comment.Author.FullName)
                        }
                        else
                        {
                            @: by Anonymous
                        }
                    </li>
                }
            </ul>
        }
        else
        {
            <P>No Comment</P>
        }
        @Html.ActionLink("Comment", "Create", "Comments", new { id = Model.Id }, null)
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
    
</p>
